.container-select {
  display: flex;
  // align-items: center;
  // justify-content: space-between;
}

.select-asign {
  margin-right: 1rem;
}

.select-asign > p {
  font-size: 14px;
  font-weight: 100;
  color: #666666;
  margin: 0;
}
