@import '../../assets/styles/_variables.scss';

.btn-primario {
  font-size: 1rem;
  background-color: $btn-primary;
  color: $white;
  height: 2.5rem;
  width: 144px;
  border: 0;
  margin: 20px auto 50px auto;
}
