@import '../../assets/styles/variables';

.modal {
  display: block;
  position: fixed;
  z-index: 400;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.452);
}

.modal-flex {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-modal {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  width: 90%;
  border-radius: 0.4em;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.4);
  max-width: 800px;
}

.comun-card {
  background-size: 100%;
}

.close {
  position: absolute;
  right: 30px;
  top: 25px;
  font-size: 1.5em;
  color: $btn-primary;
  display: grid;
  justify-content: end;
  cursor: pointer;
}

.modal-info {
  border-radius: 50px;
  padding: 1.5em 1em 1em 1em;
  text-align: center;
  background-color: #fafafa;
}

.modal-info h3 {
  text-align: left;
}

.ocultar {
  display: none;
}

.delete-post-alert p {
  padding: 0 0 0 0.5em;
  font-size: 16px;
}

.delete:hover {
  background-color: #a72727;
}
