$bg-input: #efeff4;

.form-login {
  display: grid;
  align-self: center;
  justify-self: center;
  h1 {
    margin: 40px auto 40px auto;
  }
  .comun {
    width: 80%;
    height: 3.25rem;
    font-size: 1.125rem;
    background: $bg-input;
    border-radius: 0.625rem;
    margin: 10px auto 50px auto;
    display: grid;
    grid-template-columns: 15% 85%;
  }
  .icon-input {
    align-self: center;
    justify-self: center;
    height: 1.875rem;
    width: auto;
  }
  input {
    outline: none;
    border: none;
    border-radius: 0.625rem;
    height: 52px;
    padding: 0 10px;
    background: $bg-input;
  }
}
