* {
	margin: 0;
	padding: 0;
	outline: 0;
	line-height: inherit;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-text-size-adjust: none;
	-moz-text-size-adjust: none;
	-ms-text-size-adjust: none;
	text-size-adjust: none;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	font-family: 'univia-pro';
}

@font-face {
	font-family: 'univia-pro';
	src: url(../fonts/UniviaPro-Book.woff);
}
