.box-data {
  width: 240px;
  height: 40px;
  border: 0;
  border-radius: 10px;
  background-color: #efeff4;
  margin: 10px 0px;
  padding: 0px 10px;
}

.modal-detalle-asignacion {
  border-radius: 80px;
  width: 700px;
  height: 500px;
  background-color: aquamarine;
}
